.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App > nav {
  display: flex;
  justify-content: center;
}

.App > nav > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  min-width: 300px;
  padding: 0;
}

.App > hr {
  width: 60%;
}

.App ul a {
  text-decoration: none;
  color: black;
}

/* .App a:hover{
  background-color: green;
  color: white;
} */
a.btn-active{
  background-color: green;
  color: white;
}